/*
Erstellt von Theinert Thomas
 */
table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
}

tr:nth-child(even){
    background-color: #ffff99
}

tr:nth-child(odd) {
    background-color: #e6e600;
}

tr:hover {
    background-color: #ffb84d;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: orange;
    color: black;
}
